{% extends 'all-news/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        {% if articles %}
            <h2>Found  {{ articles|length }} of searched term {{message}} </h2>
        {% else %}
            <h2>Found 0 articles for the search term {{message}}</h2>
        {% endif %}
    </div>

    <div class="row">

        {% if articles %}
            {% for article in articles %}
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 articles-home">
                {% if article.article_image.url %}
                <img src="{{article.article_image.url}}" class="img-responsive" alt="Image">
                {% else %}
                <p></p>
                {% endif %}
                <h2> {{article.title}} </h2>
                <hr>
                <p> {{article.post|truncatechars:400}}<a href="/article/{{article.id}}" class="btn btn-link">Read more</a></p>
                    <p class="small"> Tags:
                        {% for tag in article.tags.all %}
                        {{tag}} 
                        {% endfor %}
                    </p>
                <p> {{article.editor}} </p>
                <p class="small">Posted on: {{article.pub_date}} </p>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}