{% extends 'all-news/base.html' %}
{% load bootstrap3 %}


{% block content %}
{{block.super}}
<div class="container">
    <div class="row display-news">
        <!-- Loop through news -->
        {% for news_item in news %}
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 articles-home">
            {% if news_item.article_image %}
            <img src="{{news_item.article_image.url}}" class="img-responsive" alt="Image">
            {% else %}
            <p>No image</p>
            {% endif %}
            <h2> {{news_item.title}} </h2>
            <hr>
            {% autoescape on %}
            <p> {{news_item.post|safe|truncatechars:400}}<a href="/article/{{news_item.id}}" class="btn btn-link">...Read more</a></p>
            {% endautoescape %}
                <p class="small"> Tags:
                    {% for tag in news_item.tags.all %}
                    {{tag}} 
                    {% endfor %}
                </p>
            <p> {{news_item.editor}} </p>
            <p class="small">Posted on: {{news_item.pub_date}} </p>
        </div>
        {% empty %}
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <h2> No Articles today </h2>
        </div>
        {% endfor %}        
    </div>
    <div class="row">
        <div class="col-md-5">
            <form action="{% url 'newsToday' %}" method="POST">
                {% csrf_token %}
                {% bootstrap_form letterForm layout='inline' %}
                <input type="submit" value="Subscribe">
            </form>
        </div>
    </div>
</div>
{% endblock %}
<!-- End of the block content -->
{% block scripts %}
{{block.super}}
<script src="{%static 'js/newsletter.js' %}"></script>
{% endblock %}

<!-- {% if news_item.article_image.url %}
            <img src="{{news_item.article_image.url}}" class="img-responsive" alt="Image">
            {% else %}
            <p></p>
            {% endif %} -->