dj-database-url==0.5.0
Django==1.11
django-appconf==1.0.2
django-bootstrap3==10.0.1
django-imagekit==4.0.2
django-material==1.2.5
django-registration==2.4.1
django-tinymce==2.7.0
gunicorn==19.8.1
Pillow==5.1.0
psycopg2-binary==2.7.4
python-decouple==3.1
pytz==2018.4
six==1.11.0
whitenoise==3.3.1